fieldset {
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	padding: 20px 10px;
	margin: 0;
	background-color: lightblue;
	margin-bottom: 15px;
	border-bottom: solid 1px #666;
}

#generated-sql {
	margin: 20px;
}

#fields {
	background-color: #efefef;
	margin: 15px 0; 
}

#fields .table-field-row {
	position: relative;
	display: block;
	padding: 10px;
	border-bottom: solid 1px #afafaf;
}

#fields .table-field-row  .remove-field-btn {
	position: absolute;
	right: 10px;
	top: 10px;
}

body > footer {
	text-align: center;
	margin-top: 25px;
	color #999;
}

.form-control.xl {
	width: 500px;
}

.form-control.lg {
	width: 250px;
}

.form-control.md {
	width: 100px;
}

.form-control.sm {
	width: 50px;
}
