<!DOCTYPE html>
<html lang="en" data-framework="angularjs" ng-app="app">
<head>
<title>Table SQL Generator</title>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" href="css/main.css" />

</head>
<body ng-controller="MainCtrl">

	<h1>Generate SQL INSERT statements looping over fields</h1>

	<form class="container-fluid form-inline">
		<div class="form-group">
			<label for="table-name" class="control-label">Table Name</label> <input
				type="text" id="table-name" ng-model="tableName"
				class="form-control" />
		</div>
		<h3>
			Fields
			<button ng-click="addField()" class="btn btn-default">Add
				Field</button>
			<button ng-click="resetFields()" class="btn btn-default">Reset</button>
		</h3>

		<div id="fields">
			<div ng-repeat="field in fields">
				<div class="form-group table-field-row">
					<button ng-click="removeField(field)"
						class="btn btn-warning btn-sm remove-field-btn glyphicon glyphicon-trash"></button>
					<label class="control-label">Name</label> <input type="text"
						ng-model="field.name" class="form-control"
						placeholder="Field name" />
					<select
						ng-options="fieldType.type as fieldType.type for fieldType in fieldTypes"
						ng-model="field.type" class="form-control"></select>
					<input
						type="text" ng-model="field.value" ng-show="field.type == 'value'"
						class="form-control" placeholder="Field value" />
					<div class="form-group" ng-show="field.type == 'iterator'">
						<label class="control-label">Iterator Type</label>
						<select
							ng-options="iteratorType.type as iteratorType.type for iteratorType in iteratorTypes"
							ng-model="field.iterator.type" class="form-control" ng-change="iteratorTypeChanged(field)"></select>
						<div class="form-group" ng-show="field.iterator.type == 'numeric'">
							<label class="control-label">From</label>
							<input type="text" ng-model="field.iterator.from" class="form-control" placeholder="1" />
							<label class="control-label">To</label>
							<input type="text" ng-model="field.iterator.to" class="form-control" placeholder="5" />
						</div>
						<div class="form-group" ng-show="field.iterator.type == 'date'">
							<label class="control-label">From</label>
							<input type="text" ng-model="field.iterator.from" class="form-control" placeholder="1/1/2010" /> 
							<label class="control-label">To</label> 
							<input type="text" ng-model="field.iterator.to" class="form-control" placeholder="1/1/2014" />
							<label class="control-label">Step Type</label> 
							<select ng-options="dateStepType.type as dateStepType.type for dateStepType in dateStepTypes"
								ng-model="field.iterator.dateStepType" class="form-control"></select>
							<label class="control-label">Step</label> 
							<input type="text" ng-model="field.iterator.dateStep" class="form-control" placeholder="1" />
						</div>
						<div class="form-group" ng-show="field.iterator.type == 'array'">
							<label class="control-label">Comma Separated Values</label>
							<input type="text" ng-model="field.iterator.arrayValues" class="form-control"
								placeholder="(e.g.: 'value1', 'value2', 'value3')" />
						</div>
						<div class="form-group">
							<label class="control-label">Tie iterator to</label>
							<select class="form-control" ng-model="field.iterator.tieTo" 
								ng-options="field as field.name for field in fields | filter:{type:'iterator', name: '!' + field.name} | prependToArray: {name: 'None'}"></select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<button ng-click="generateSql()" class="btn btn-primary">Generate SQL</button>
		</div>

		<div id="generated-sql" ng-show="generatedSql">
			<pre><code>{{generatedSql}}</code></pre>
		</div>
	</form>
	
	<footer>
		Created by <a href="http://www.valschuman.com">Val Schuman</a>. 
		<a href="https://github.com/rand0mbits/TableSqlGenerator/issues">Report issues/feature requests</a>. 
		<a href="https://github.com/rand0mbits/TableSqlGenerator">Source.</a>
	</footer>

</body>
</html>